.example {
      width:320px;
      margin:0 auto;
      position:relative;
    }
    .parallax {
      display:block;
      position:relative;
      width:300px;
      height:400px;
      margin:-40px 0 0 0;
      /*overflow:hidden;
      padding:30px;*/
      text-indent:-999px;
      background:url(https://i.imgur.com/FshzfuQ.jpg) center center no-repeat;
      float:left;
    }
    .parallax:first-child {
      background-image:url(https://i.imgur.com/g8yNEDH.jpg);
      width:200px;
      height:300px;
      margin:0 -160px 0 0;
    }
    .parallax .level {
      display:block;
      position:absolute;
      width:50%;
      height:50%;
      top:0;
      left:0;
      background-position:center center;
      background-repeat:no-repeat;
    } 
    .parallax.enhanced,
    .parallax.enhanced:first-child {
      background:none;
    }